* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f7f1cd;
    color: #9e483a;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #9e483a;
}

a::after {
    color: #9e483a;
}

ul {
    list-style-type: none;
}

.recipe-card {
    width: 600px;
    height: auto;
    margin: 50px auto;
    padding: 20px;

    background-color: #fefefe;
}

.title-card {
    font-size: 48px;
    font-weight: bold;
}

.recipe-lists {
    font-size: 24px;
}